body {
    margin: 0;
    padding: 0;
    font-family: Bahnschrift, sans-serif;
    position: relative;
    background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url('https://images.pexels.com/photos/2441454/pexels-photo-2441454.jpeg');

}

.navbar {
    position: sticky;
    top: 0;
    background-color: #333;
    padding: 10px;
    z-index: 10;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.wrapper-main {
    margin: 50px 200px 50px;
}

.content-box {
    width: 30%;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px darkslategray;
}
.text-input {
    width: 95%;
    padding: 10px;
}
.header-main {
    font-size: 20px;
}
.header-second {
    font-size: 18px;
}

.content-box h1 {
    text-align: left;
}

.label {
    display: block;
    margin: 10px 0 5px;
}
.checkbox {
    horiz-align: center;
    font-size: 12px;
}

.input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid darkslateblue;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
